<div class="row">
  <div class="col-sm-6">
    <h3>Login with an email</h3>
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

      <div class="form-group">
        <input type="text" placeholder="Email" (ngModel)="email" name="email" class="form-control" required>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" (ngModel)="password" name="password" class="form-control" required>
      </div>

      <button type="submit" [disabled]="!formData.valid" class="btn btn-primary">Login</button>
      <a routerLink="/signup" class="alc">Don't have an account?</a>
    </form>
  </div>

  <div class="col-sm-6">
    <h3>Login with Facebook</h3>
    <button (click)="loginFb()" id="fb" class="btn btn-primary">Login With Facebook</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <br>
    <p class="bg-danger" *ngIf="error" [@fallIn]='state'>{{ error }}</p>
  </div>
</div>