<div class="row">
  <div class="col-sm-12">
    <a routerLink="/login" id="goback">Go back</a>

    <h3>Join now</h3>
      
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
      <div class="form-group">
        <input type="text" placeholder="Email" (ngModel)="email" name="email" class="form-control" required>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" (ngModel)="password" name="password" class="form-control" required>
      </div>
      <button type="submit" [disabled]="!formData.valid" class="btn btn-primary">Create my account</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <br>
    <p class="bg-danger" *ngIf="error" [@fallIn]='state'>{{ error }}</p>
  </div>
</div>