<div class="row">
  <div class="col-sm-12">
    <header [@fallIn]="state">
      <button (click)="logout()" class="btn btn-default">Logout</button>
    </header>
    <div id="page" [@moveInLeft]="state">
      <p>You're logged in!</p>
    </div>
  </div>
</div>